/* .list {
  background-color: var(--react-bckg-color);
} */

.item {
  margin-top: 10px;
  /* padding: 10px; */
  border: 4px solid var(--react-bckg-color);
  border-radius: 4px;
}

.title {
  text-align: center;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--react-bckg-color);
  color: var(--react-main-color);
}

.text {
  color: grey;
  padding-left: 10px;
  padding-right: 10px;
}
