.thumb {
  width: 400px;
  border-bottom: 4px solid transparent;
}
.thumb:hover,
.thumb:focus {
  border-bottom: 4px solid var(--react-main-color);
}

.img {
  display: block;
  border-radius: 10px;
  max-width: 400px;
}
.title {
  margin-top: 5px;
  margin-bottom: 0;
  text-align: center;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.thumb:focus .title,
.thumb:hover .title {
  transform: scale(1.2);
}
