.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  /* margin-right: auto; */
}
.item {
  text-align: center;

  min-width: 100px;
}
.item:not(:last-child) {
  margin-right: 15px;
}
.item:focus {
  border: none;
}

.link:hover,
.link:focus {
  border: none;
  outline: 1px solid darkorange;
}

.link {
  border: none;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  color: black;
}
.active-link {
  /* color: white; */
  background-color: var(--primary-color);
}
